<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.unice.polytech.robotproject.model.RobotProjectModel.presentation.RobotProjectModelModelWizardID"
            name="%_UI_RobotProjectModelModelWizard_label"
            class="fr.unice.polytech.robotproject.model.RobotProjectModel.presentation.RobotProjectModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RobotProjectModelModelFile.gif">
         <description>%_UI_RobotProjectModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="fr.unice.polytech.robotproject.model.RobotProjectModel.presentation.RobotProjectModelEditorID"
            name="%_UI_RobotProjectModelEditor_label"
            icon="icons/full/obj16/RobotProjectModelModelFile.gif"
            extensions="robotprojectmodel"
            class="fr.unice.polytech.robotproject.model.RobotProjectModel.presentation.RobotProjectModelEditor"
            contributorClass="fr.unice.polytech.robotproject.model.RobotProjectModel.presentation.RobotProjectModelActionBarContributor">
      </editor>
   </extension>

</plugin>
